# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

***Objectives:***

* Create headings using markdown cell
* List popular languages for Data Science
* List common libraries for Data Science
* Create a table in Python
* Use arithmetic functions

### Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. matplotlib
4. scikitlearn
5. dplyr
6. ggplot

| Data Science Tools |
-------------------------
| Jupyter Notebook |
| R studio |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

2+4

3*5

6/3

In [4]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Cihan D